@{
    ViewData["Title"] = "Home Page";
}
<hr />
@*<div class="col-xs-12">

    <div class="row">
        <div class="col-xs-4">
            @await Html.PartialAsync("/Views/Operations/_Create.cshtml")
        </div>

        <div class="col-xs-8">
            <div id="jsGrid"></div>
        </div>
 

    <div class="row">
        <canvas id="myChart" width="400" height="100"></canvas>
    </div>
</div>*@
